<h1><cite><strong>- Menús -</strong></cite></h1>
<div class="container">
  <div id="rowTest" class="row">

    <!-- Tener esta card extra encuenta en la rama idea-3 para hacerlo funcionar con un admin
        y sea modificable por el usuario admin.
    -->

    <div class="col-12 col-md-6 col-lg-4">

      <div  id="carne-dia" class="card fixed-card">
        <div class="card-body card-content">
          <h5 class="card-title"><cite><b>Menú día</b></cite></h5>
          <p class="card-text">
            Pregunta por el suculento y delicioso menú del día.
          </p>
        </div>
      </div>

    </div>

@for (plato of menuList; track plato.id) {
    <div class="col-12 col-md-6 col-lg-4">

      <div class="card fixed-card">
        <img src="{{ plato.img }}" class="card-img-top" alt="{{ plato.titulo }}"/>
        <div class="card-body card-content">
          <h5 class="card-title"><cite><b>{{ plato.titulo }}</b></cite></h5>
          <p class="card-text">
            <b>Ingredientes:</b><br> {{ plato.ingredientes }}
          </p>
        </div>
      </div>

    </div>
    }



  </div>
</div>
