.card {
  margin-top: 7px;
  background-color: transparent;
  border-color: rgb(255, 204, 0);
  color: aliceblue;
  margin-bottom: 4px;
  border-radius: 25px;
}

#imgDia {
  margin-top: 0px;
  width: auto;
  height: auto;
}

p{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

#menuDia{
  line-height: 1.37;
}

#foto-subtitulo{
  color: white;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 24px;
  text-align: center;
}

#title-dia{
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: rgb(255, 204, 0);
  border-bottom-right-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
}
#titulo-principal{
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: rgb(255, 204, 0);
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#carne-dia{

  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
  border: 2px solid;
  border-color: rgb(255, 204, 0);
  border-radius: 25px;
}

#subtitulo-menudia{
  color: rgba(255, 204, 0, 0.769);
  font-size: 24px;
}
#title-list{
  border-bottom: 1px solid;
  border-color: rgb(255, 204, 0);
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 15%;
  padding-bottom: 5px;
}
h1{
  font-weight: 100;
  color:aliceblue ;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.fixed-card {
  height: auto;
  /* Tamaño fijo deseado */
}

.card-content {
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 7px;
  display: grid;
  height: 250px;
  padding: 0px 15px 0px 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(41, 34, 33, 0.274);
  border-radius: 50%;
}

.card-title{
  font-weight: 100;
  margin-top: 7px;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

#precio{
  text-align: center;
  font-weight: bold;
}
#espacio-invisible{
  height: 60px;
    color: transparent;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
