.card {
  margin-top: 7px;
  background-image: url("../../assets/tablero2.jpg");
    border-color: aliceblue;
    color: aliceblue;
}

h1 {
  color: darkgrey;
  text-align: center;
}

.fixed-card {
  height: 425px;
  /* Tamaño fijo deseado */
}

.card-content {
  display: flex;
  flex-direction: column;
}

img {
  border-bottom: 2px solid;
    border-color: aliceblue;
  display: grid;
  height: 250px;
}

.card-title {
  text-align: center;
}
