
<nav class="navbar navbar-expand-lg sticky-top">

    <a id="sabor" class="navbar-brand" [routerLink]="['/menus']" (click)="scrollToTop()"><strong>Mr Sabor</strong></a>

    <div class="navbar-nav">

          <a class="nav-link" [routerLink]="['/menus']" (click)="scrollToTop()"><strong>Menús</strong></a>

          <a class="nav-link" [routerLink]="['/especiales']" (click)="scrollToTop()"><strong>Especiales</strong></a>

          <a class="nav-link" [routerLink]="['/desayuno']" (click)="scrollToTop()"><strong>Desayunos</strong></a>




  </div>
</nav>


<router-outlet />

