.card {
  margin-top: 7px;
  background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
    margin-bottom: 4px;
}

h1 {
  color:aliceblue;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.fixed-card {
  height: auto;
  /* Tamaño fijo deseado */
}

.card-content {
  display: flex;
  flex-direction: column;
 
}

img {
  margin-top: 7px;
  display: grid;
  height: 250px;
}

.card-title {
  margin-top: 7px;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
